# Ignore .vs folder so that VS can be used with Open Folder for editing HLSL files.
.vs/

# Ignore folders used during the compile process
build/asm/
build/xml/

# Ignore munged files folders
build/munged/
build/premunged/

# Ignore Log Files
*.log

# Ignore resulting core.lvl
core.lvl